<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<center>
    <h2>Delete your records here.</h2>
    <br>
    <font color="red" size="3" >Make sure you enter correct values!!!</font>
    <form action="http://127.0.0.1:5000/delete1/" method="post">
    <table>
        <tr><td>Enter your first name:</td><td><input type="text" name="first"></td></tr>
        <tr><td>Enter your mobile number:</td><td><input type="text" name="mobile"></td></tr>
        <tr><td colspan="2" align="center"><input type="submit" value="Delete Now"></td></tr>
    </table>
    </form>
</center>

</body>
</html>