<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Registration Page</title>
</head>
<body>
<center><h3>Enter your basic details here!!!</h3>
    <form action="http://127.0.0.1:5000/user/" method="post"><br><br><br><br><br><br><br><br><br><table>
        <tbody>
        <tr><td colspan="2" align="center"><font size="4">Registration Form</font></td></tr>
        <tr><td>Enter First Name: </td><td><input type="text" name="fn"></td></tr>
        <tr><td>Enter Last Name: </td><td><input type="text" name="ln"></td></tr>
        <tr><td>Enter Your Address: </td><td><input type="text" name="ad"></td></tr>
        <tr><td>Enter Contact No. </td><td><input type="text" name="cn"></td></tr>
        <tr><td colspan="2" align="center"><input type="submit" value="submit"></td></tr>
    </tbody></table></form>
    </center>

</body></html>